*,
html {
    margin: 0;
    padding: 0;
}

/* .container {
    background-color: #201E43;
    height: 100vh;
} */

.container-navbar {
    background-color: #201E43;
    width: 100%;
    height: 5vh;
}

.ul-navbar {
    display: flex;
    height: 100%;
    justify-content: right;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 18px;
    margin: 8px;
    color: white;
    font-size: 1,5vh;
}

.li-navbar:hover{
    background-color:#134B70 ;
    transition: .2s ease-in-out;
    border-radius: 6px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.container-content {
    background-color: #134B70;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: black;
    width: 60vh;
    height: 35vh;
    color: white;
    font-size: 30px;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-radius: 30px;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}

.container-footer {
    height: 15vh;
    background-color: #134B70;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.h1-footer {
    font-size: 30px;
    color: white;
}